extends layouts/app.pug

block content
	h1.text-center.text-danger Hello from Pug!
	p
		Pug is a terse and simple templating language with a
		strong focus on performance and powerful features.
	div.row.rounded 
		div.col-md-4
			include components/list.pug
		div.col-md-4
			include components/list.pug
		div.col-md-4
			include components/list.pug
	section.my-3 
		h2.text-center Contact Us