doctype html
html(lang="en")
	head
		title Welcome to Parceljs learning
		link(rel="stylesheet" href="./assets/css/app.scss")
		script(type="module" src="./assets/js/app.js")
		link(rel="shortcut icon", href="./assets/images/favicon.ico", type="image/x-icon")
		block css 
	body
		include ../components/_variable.pug
		div
			block content