doctype html
html(lang="en")
	head
		title Welcome to Parceljs learning
		link(rel="stylesheet" href="./assets/css/app.scss")
		script(type="module" src="./assets/js/app.js")
	body
		div.container
			block content